<a href="https://colab.research.google.com/github/02sam/python/blob/master/Untitled7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

userNameOne

1] print function
2] escape sequence
3] escape sequennce as noemal text
4] paython as calculator
5] variables
6] naming rules for variables
7] convantion for variable

8] use of  # for comments

cammell  case writing userOneName

In [ ]:
print(2**3**2)

512

In [ ]:
first_name ="sameer"
last_name = " phadnis"       # variable is converted in string
full_name = first_name + "2"     
print(first_name *3)

sameersameersameer

concatination - 2 strings are join by using the sign +
string is only ttached with the string's

In [ ]:
# input function
name = input ("type your name")
print("hellow" + name)

type your name sameer
hellow sameer

input function always take input in strings

In [ ]:
number_one = int(input("enter the first number"))
number_two = int(input("enter the secound number"))
total = number_one+number_two
print("total is" + str(total))

enter the first number5
enter the secound number5
total is10

str use for the string function 
int function is used to convert the string in the number
float function is used to convert in the number ex("4" = 4.0)

In [ ]:
name,age =" sameer"," 22" # multiple variable decleration
print("hellow" + name + " your age is"+age)

hellow sameer your age is 22

In [ ]:
x=y=z=1 # multiple variables having same value
print(x+y+z)

3

In [ ]:
name,age=input("enter your name and age").split(",") # many input taking single input
print(name)
print(age)

enter your name and agesameer,22
sameer
22

string formating 
paython 2
paython 3 .format 
paython 3.6 direct u can write things

---

In [ ]:
number_one =int(input("enter the first number"))
number_two = int(input("enter the secound number"))
number_three = int(input("enter the thired number"))
total = number_one + number_two+number_three
avg = total/3
print(avg)

enter the first number5
enter the secound number6
enter the thired number3
4.666666666666667

string indexing
the positions of strings by the index number

In [ ]:
language = "python"
print(language[4])

o